@use '../variables';


.infos-bar {
    padding: 16px 24px;
    background-color: variables.$orange;
    display: flex;
    justify-content: space-between;
    border-radius: 80px;
    color: variables.$blue2;

    &__infos {
        display: flex;
        gap: 40px;

        &__item {
            font-size: 14px;
            color: variables.$SecundaryTextColor;

            b {
                font-size: 18px;
                display: block;
                color: variables.$SecundaryTextColor;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;
        border-radius: 30px;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width: 1024px) {
        &__infos {
            gap: 16px;
        }
    }
}